<form
  #forgotPasswordForm="ngForm"
  class="w-50 ml-auto pb-5"
  (ngSubmit)="forgotPassword()"
>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span
        for="email"
        class="input-group-text text-white mr-1 rounded-left"
        [ngClass]="{
          'bg-primary': em.valid || em.untouched,
          'bg-danger': em.invalid && em.touched
        }"
        >Email</span
      >
    </div>
    <input
      #em="ngModel"
      [ngClass]="{ 'is-invalid': em.invalid && em.touched }"
      required
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
      type="email"
      [(ngModel)]="email"
      class="form-control"
      name="email"
    />
    <div class="invalid-feedback">Email is required</div>
  </div>
  <div>
    <button
      [disabled]="forgotPasswordForm.invalid"
      type="submit"
      class="btn btn-primary pull-right"
      value="Submit"
    >
      Submit
    </button>
  </div>
</form>
