<form
  #resetPasswordForm="ngForm"
  class="w-50 ml-auto pb-5"
  (ngSubmit)="resetPassword()"
  *ngIf="show"
>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span
        for="newPassword"
        class="input-group-text text-white mr-1 rounded-left"
        [ngClass]="{
          'bg-primary': pass.valid || pass.untouched,
          'bg-danger': pass.invalid && pass.touched
        }"
        >New Password</span
      >
    </div>
    <input
      #pass="ngModel"
      [ngClass]="{ 'is-invalid': pass.invalid && pass.touched }"
      required
      pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
      type="password"
      [(ngModel)]="newPassword"
      class="form-control"
      name="newPassword"
    />
    <div class="invalid-feedback">
      Password must contain:
      <ul>
        <li>1 Uppercase</li>
        <li>1 Lowercase</li>
        <li>1 Number/Special Character</li>
        <li>Minimum 8 Characters</li>
      </ul>
    </div>
  </div>
  <div>
    <button
      [disabled]="resetPasswordForm.invalid"
      type="submit"
      class="btn btn-primary pull-right"
      value="Submit"
    >
      Submit
    </button>
  </div>
</form>

<div *ngIf="!show">
  <p>Token has expired</p>
</div>
