<div class="card">
    <div class="card-header card-header-primary">
        <span class="nav-title">Change Password</span>
        <span href="#" *ngIf="!show" class="icon pull-right" (click)="load()">
            <span class="material-icons md-3D">create</span>
        </span>
    </div>
    <div class="card-body">
        <form #changePasswordForm="ngForm" (ngSubmit)="updatePassword()">
            <div *ngIf="show">
                <div class="form-group row m-0">
                    <label class="col-sm-4 col-form-label text-dark" [ngClass]="{'text-danger': pass.invalid && pass.touched}">Old Password</label>
                    <div class="col-sm-8">
                        <input #pass="ngModel" [ngClass]="{'is-invalid': pass.invalid && pass.touched}" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" type="password" [(ngModel)]="oldPassword" name="oldPassword" class="form-control">
                        <small class="invalid-feedback">Enter your Old Password</small>
                    </div>
                </div>
                <div class="form-group row m-0">
                    <label class="col-sm-4 col-form-label text-dark" [ngClass]="{'text-danger': cpass.invalid && cpass.touched}">New Password</label>
                    <div class="col-sm-8">
                        <input #cpass="ngModel" [ngClass]="{'is-invalid': cpass.invalid && cpass.touched}" required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" type="password" [(ngModel)]="newPassword" name="newPassword" class="form-control">
                        <small class="invalid-feedback">Password must contain:
                            <ul>
                                <li>1 Uppercase</li>
                                <li>1 Lowercase</li>
                                <li>1 Number/Special Character</li>
                                <li>Minimum 8 Characters</li>
                            </ul>
                        </small>
                    </div>
                </div>
                <div *ngIf="show" class="card-footer">
                    <button type="reset" class="col-sm-4 btn btn-success ml-5" value="Clear" (click)=clear()>Clear</button>
                    <button [disabled]="changePasswordForm.invalid" type="submit" class="col-sm-4 btn btn-primary mr-5" value="Submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>